@model HomeLoanCost.Models.Loan

@{
    ViewBag.Title = "Būsto paskolos skaičiuoklė";
}

<h2>Būsto paskolos skaičiuoklė</h2>

<form id="formId" action="@Url.Action("Calculate", "Loans")" method="POST">
    
    Paskolos suma 
    @Html.TextBoxFor(m => m.Credit)
    <br/><br/>
    Paskolos palūkanos
    @Html.TextBoxFor(m => m.InterestRate)
    <br/><br/>
    Paskola laikotarpiui (metai)
    @Html.TextBoxFor(m => m.Years)
    <br /><br />

    <input id="btnCalculate" class="btn btn-success btn-sm" type="submit" value="Skaičiuoti!" />
</form>

<table class="table table-striped">


    @if (Model != null && Model.Payments != null && Model.Payments.Count > 0)
    {
        foreach (var payment in Model.Payments)
        {
            <tr>@payment.Month      @payment.Interest @payment.Repayment    @payment.Credit</tr>
            <br />
        }
    }
</table>
